/* styles/globals.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa; /* Màu nền sáng */
}

.navbar {
    box-shadow: none; /* Tắt hiệu ứng bóng đổ */
}

.nav-link {
    color: white !important; /* Màu chữ menu */
    text-transform: uppercase;
    font-weight: bold;
}

.nav-link:hover {
    color: #ffc107 !important; /* Màu chữ khi hover */
}

section {
    margin-bottom: 30px;
}

.bg-light {
    background-color: #f0f0f0 !important; /* Màu nền cho phần About */
}

.text-center {
    text-align: center;
}

.menu-bg-color {
    background-color: #010a13;
}